# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# IDE
.vscode
.idea/
*.swp
*.swo
*~

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Spark
spark-warehouse/
metastore_db/
derby.log

# Data files (keep structure, ignore actual data)


# Logs
*.log
logs/

# Environment variables
.env
.env.local

# OS
.DS_Store
Thumbs.db

# GCP
*.json
!requirements.txt
service-account-key.json

