# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*.tfstate.backup
# Crash log files
crash.log
*.tfvars
*.tfvars.json
.terraform.lock.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json
crash.log
# Include example.tfvars
!example.tfvars

# Ignore CLI configuration files
.terraformrc
terraform.rc
